@charset "UTF-8";
/*
Theme Name: ヤシバコテーマ
Description:テーマの説明
Theme URI: テーマの URL
Author: 作った人の名前
Author URI: 作った人の URL
Version: バージョン
License: ライセンス
License URI: ライセンスの URL
*/
/* line 14, ../sass/style.scss */
body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  background-color: #17af9a;
  line-height: 1.5em;
  font-family: 'Noto Sans Japanese', serif;
}
/* line 21, ../sass/style.scss */
body img {
  vertical-align: bottom;
}
/* line 22, ../sass/style.scss */
body a {
  text-decoration: none;
}
/* line 23, ../sass/style.scss */
body a:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* line 30, ../sass/style.scss */
body ul {
  list-style: none;
  padding: 0px;
}
/* line 34, ../sass/style.scss */
body a:link.menu {
  color: #0a825d;
}
/* line 35, ../sass/style.scss */
body a:visited.menu {
  color: #0a825d;
}
/* line 36, ../sass/style.scss */
body a:link.mailto {
  color: #fff;
}
/* line 37, ../sass/style.scss */
body a:visited.mailto {
  color: #fff;
}

/* line 42, ../sass/style.scss */
#top {
  overflow: hidden;
}
/* line 44, ../sass/style.scss */
#top h1 {
  background-color: #0a825d;
  width: 100%;
  height: 64px;
  margin: 0px;
}
/* line 49, ../sass/style.scss */
#top h1 span {
  position: relative;
  display: block;
  max-width: 320px;
  margin: 0 auto;
}
/* line 55, ../sass/style.scss */
#top h1 span img {
  margin: 0 auto;
  position: absolute;
  margin-top: -500px;
}
/* line 61, ../sass/style.scss */
#top h1 #ya {
  left: 0px;
}
/* line 64, ../sass/style.scss */
#top h1 #shi {
  left: 82px;
}
/* line 67, ../sass/style.scss */
#top h1 #ba {
  left: 170px;
}
/* line 70, ../sass/style.scss */
#top h1 #ko {
  margin-right: 0px;
  right: 0px;
}
/* line 75, ../sass/style.scss */
#top h2 {
  font-family: "Amatic SC";
  color: #416c53;
  font-size: 38px;
  text-align: center;
  margin: 0px;
  margin-top: 160px;
  font-weight: normal;
}
/* line 84, ../sass/style.scss */
#top #whatsnew {
  font-family: "Gochi Hand";
  width: 300px;
  margin: 0 auto;
  background-color: #7fd3c7;
  border: 5px solid #0a825d;
  margin-bottom: 60px;
}
/* line 91, ../sass/style.scss */
#top #whatsnew h3 {
  color: #fff;
  background-color: #0a825d;
  padding: 3px 10px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
}
/* line 99, ../sass/style.scss */
#top #whatsnew dl {
  width: 280px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 104, ../sass/style.scss */
#top #whatsnew dl dt {
  background-color: #0a825d;
  padding: 8px 10px;
  font-size: 16px;
  color: #fff;
  width: 40px;
  position: relative;
  float: left;
}
/* line 112, ../sass/style.scss */
#top #whatsnew dl dt:after {
  content: "";
  width: 0;
  height: 0;
  background: transparent;
  border-top: 6px solid transparent;
  border-left: 12px solid #0a825d;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  left: 57px;
  top: 16px;
}
/* line 126, ../sass/style.scss */
#top #whatsnew dl dd {
  color: #1e5b37;
  margin-left: 80px;
  height: 18px;
  font-family: 'Noto Sans Japanese', serif;
}
/* line 132, ../sass/style.scss */
#top #whatsnew dl a:link {
  color: #1e5b37;
}
/* line 133, ../sass/style.scss */
#top #whatsnew dl a:visited {
  color: #1e5b37;
}
/* line 134, ../sass/style.scss */
#top #whatsnew dl .day {
  font-size: 12px;
  letter-spacing: 0.3em;
}
/* line 138, ../sass/style.scss */
#top #whatsnew dl .blogtitle {
  font-size: 14px;
  letter-spacing: 0.2em;
}
/* line 144, ../sass/style.scss */
#top ul#menu_wrap {
  font-family: "Gochi Hand";
  margin: 80px 0px;
  text-align: center;
}
/* line 148, ../sass/style.scss */
#top ul#menu_wrap li {
  color: #0a825d;
  display: inline-block;
  font-size: 43px;
  text-align: center;
  vertical-align: center;
  line-height: 140px;
  cursor: pointer;
}
/* line 156, ../sass/style.scss */
#top ul#menu_wrap li a {
  background-image: url("../img/frame.png");
  height: 142px;
  width: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 171, ../sass/style.scss */
#content {
  margin: 0 auto;
}
/* line 173, ../sass/style.scss */
#content h1 {
  background-color: #0a825d;
  margin: 0;
  text-align: center;
}
/* line 177, ../sass/style.scss */
#content h1 img {
  width: 150px;
  padding: 20px;
}
/* line 183, ../sass/style.scss */
#content h2 {
  font-family: "Gochi Hand";
  height: 70px;
  font-size: 45px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #0a825d;
  text-align: center;
  background-image: url("../img/bgi_square.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  line-height: 85px;
}
/* line 197, ../sass/style.scss */
#content ul#menu_wrap {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* line 201, ../sass/style.scss */
#content ul#menu_wrap li {
  font-family: "Gochi Hand";
  font-size: 35px;
  display: inline-block;
}
/* line 206, ../sass/style.scss */
#content ul#menu_wrap #contact {
  margin-left: 40px;
}
/* line 210, ../sass/style.scss */
#content #profile {
  left: -9999px;
  max-width: 580px;
  min-width: 560px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 80px;
}
/* line 218, ../sass/style.scss */
#content #profile img {
  margin: 0;
}
/* line 221, ../sass/style.scss */
#content #profile:after {
  content: url("../img/arrow.png");
  position: absolute;
  top: 100px;
  left: 212px;
}
/* line 227, ../sass/style.scss */
#content #profile ul {
  text-align: center;
  width: 255px;
  font-size: 12px;
  margin: 0;
  right: 0px;
  top: 0px;
  color: #0a825d;
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  position: absolute;
}
/* line 242, ../sass/style.scss */
#content #profile ul #name {
  letter-spacing: 0.3em;
  font-size: 20px;
}
/* line 250, ../sass/style.scss */
#content p.comment {
  color: #1e5b37;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 15px;
  margin-bottom: 3px;
  margin-top: 0px;
  padding: 0px 20px;
}
/* line 259, ../sass/style.scss */
#content p.mgb50 {
  margin-bottom: 50px;
}
/* line 262, ../sass/style.scss */
#content p small {
  font-size: 10px;
  letter-spacing: 0.1em;
}
/* line 267, ../sass/style.scss */
#content #diary_list {
  margin-left: -9999px;
}
/* line 269, ../sass/style.scss */
#content #diary_list .note {
  width: 840px;
  padding-top: 40px;
  margin: 0 auto;
  background-image: url("../img/diary_bgi.png");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 510px;
  color: #0a825d;
  letter-spacing: 0.3em;
}
/* line 279, ../sass/style.scss */
#content #diary_list .note h3 {
  margin-left: 40px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* line 283, ../sass/style.scss */
#content #diary_list .note dl {
  width: 790px;
}
/* line 285, ../sass/style.scss */
#content #diary_list .note dl dd {
  letter-spacing: 0.1em;
}
/* line 288, ../sass/style.scss */
#content #diary_list .note dl .mgb {
  margin-bottom: 1em;
}
/* line 290, ../sass/style.scss */
#content #diary_list .note img {
  margin-left: 40px;
  margin-right: 40px;
  float: left;
  border: solid 2px #0a825d;
}
/* line 296, ../sass/style.scss */
#content #diary_list .note dt.weather {
  margin-bottom: 30px;
}
/* line 302, ../sass/style.scss */
#content #postlink {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
  position: relative;
  max-width: 1000px;
}
/* line 310, ../sass/style.scss */
#content #postlink a:link {
  color: #fff;
}
/* line 311, ../sass/style.scss */
#content #postlink a:visited {
  color: #fff;
}
/* line 312, ../sass/style.scss */
#content #postlink #next, #content #postlink #pre {
  display: inline;
  *display: inline;
  *zoom: 1;
  position: absolute;
}
/* line 317, ../sass/style.scss */
#content #postlink #next i, #content #postlink #pre i {
  margin-right: 5px;
}
/* line 321, ../sass/style.scss */
#content #postlink #pre {
  right: 20px;
}
/* line 323, ../sass/style.scss */
#content #postlink #pre i {
  margin-left: 5px;
}
/* line 327, ../sass/style.scss */
#content #postlink #next {
  left: 20px;
}
/* line 331, ../sass/style.scss */
#content #contact_page {
  color: #0a825d;
}
/* line 333, ../sass/style.scss */
#content #contact_page #sachichan {
  position: relative;
}
/* line 335, ../sass/style.scss */
#content #contact_page #sachichan:before {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: 10px;
  background: transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #0a825d;
  border-right: 20px solid transparent;
  position: absolute;
  top: 136px;
  left: 49%;
}
/* line 350, ../sass/style.scss */
#content #contact_page p {
  text-align: center;
}
/* line 352, ../sass/style.scss */
#content #contact_page p img {
  width: 60px;
}
/* line 356, ../sass/style.scss */
#content #contact_page .textSplitLoad {
  display: none;
  font-family: "Gochi Hand";
  font-size: 35px;
}
/* line 361, ../sass/style.scss */
#content #contact_page p#split {
  visibility: hidden;
  font-family: "Gochi Hand";
  font-size: 35px;
}
/* line 366, ../sass/style.scss */
#content #contact_page a:link {
  color: #fff;
}
/* line 367, ../sass/style.scss */
#content #contact_page a:visited {
  color: #fff;
}
/* line 368, ../sass/style.scss */
#content #contact_page #contact_form {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 20px;
  /* Firefox用 */
  max-width: 800px;
  margin: 0 auto;
  background-color: #7fd3c7;
  border: 5px solid #0a825d;
  padding: 5% 5% 0% 5%;
  margin-top: 50px;
}
/* line 378, ../sass/style.scss */
#content #contact_page #contact_form input, #content #contact_page #contact_form textarea {
  width: 90%;
  height: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border: 2px solid #0a825d;
}
/* line 385, ../sass/style.scss */
#content #contact_page #contact_form textarea {
  height: 150px;
  overflow: auto;
}
/* line 389, ../sass/style.scss */
#content #contact_page #contact_form #contact_submit {
  text-align: center;
}
/* line 391, ../sass/style.scss */
#content #contact_page #contact_form #contact_submit input {
  width: 90px;
}
/* line 394, ../sass/style.scss */
#content #contact_page #contact_mail_link {
  color: #fff;
  font-size: 13px;
}

/* line 401, ../sass/style.scss */
address {
  font-family: "Gochi Hand";
  color: #fff;
  font-size: 28px;
  background-image: url("../img/ribbon.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  text-align: center;
  line-height: 73px;
  margin-bottom: 30px;
  clear: both;
}

@media screen and (max-width: 640px) {
  /* line 417, ../sass/style.scss */
  body {
    -webkit-text-size-adjust: 100% !important;
  }
  /* line 419, ../sass/style.scss */
  body #content {
    min-width: 320px;
  }
  /* line 421, ../sass/style.scss */
  body #content #profile {
    left: 0px;
    text-align: center;
    margin-bottom: 30px;
    min-width: 320px;
  }
  /* line 426, ../sass/style.scss */
  body #content #profile ul {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
  }
  /* line 431, ../sass/style.scss */
  body #content #profile:after {
    display: none;
  }
  /* line 435, ../sass/style.scss */
  body #content #diary_list {
    margin-left: 0px;
  }
  /* line 437, ../sass/style.scss */
  body #content #diary_list .note {
    background-image: url("../img/diary_bgi_sp.png");
    width: 320px;
    height: 920px;
  }
  /* line 441, ../sass/style.scss */
  body #content #diary_list .note img {
    float: none;
    width: 208px;
    height: 243px;
    margin-left: 0px;
  }
  /* line 447, ../sass/style.scss */
  body #content #diary_list .note dl {
    padding-left: 45px;
    width: 240px;
  }
  /* line 450, ../sass/style.scss */
  body #content #diary_list .note dl dd {
    margin: 0px;
  }
  /* line 454, ../sass/style.scss */
  body #content #next {
    margin-top: -10px;
  }
}
