@import "compass";
@import "style.scss";
#content{
	#profile{
		left: 0px;
		text-align: center;
		min-width: 340px;
		ul{
			position: relative;
			margin: 0 auto;
			margin-top: 20px;
		}
		&:after{
			display: none;
		}

	}
	#diary_list{
		margin-left: 0px;
		.note{
			background-image: url("../img/diary_bgi_sp.png");
			width: 320px;
			img{
				float: none;
				width: 65%;
				margin-left: 57px;
				margin-right: 0px;
			}
			dl{
				padding-left: 45px;
				dd{margin: 0px; }
			}
		}
	}

}