/*
Theme Name: ヤシバコテーマ
Description:テーマの説明
Theme URI: テーマの URL
Author: 作った人の名前
Author URI: 作った人の URL
Version: バージョン
License: ライセンス
License URI: ライセンスの URL
*/

@import "compass";

body {
	min-width: 320px;
	width: 100%;
	margin: 0;
    background-color: #17af9a;
    line-height: 1.5em;
    font-family: 'Noto Sans Japanese', serif;	
	img {vertical-align: bottom;}
	a {text-decoration: none;}
	a:hover{
		opacity: 0.8;
		-webkit-transition: 0.3s ease-in-out;  
      	-moz-transition: 0.3s ease-in-out;  
      	-o-transition: 0.3s ease-in-out;  
      	transition: 0.3s ease-in-out;  
	}
	ul{
		list-style: none;
		padding: 0px;
	}
	a:link.menu { color: #0a825d; }
	a:visited.menu { color: #0a825d; }
	a:link.mailto { color: #fff; }
	a:visited.mailto { color: #fff; }
}



#top{
	overflow:hidden;
	h1{	
		background-color: #0a825d;
		width: 100%;
		height: 64px;
    	margin: 0px;
		span{
			position: relative;
			display: block;
			max-width: 320px;
			margin: 0 auto;
			
			img{		
				margin: 0 auto;
				position: absolute;
				margin-top: -500px;
			}
		}
		#ya{
			left: 0px;
		}
		#shi{
			left: 82px;
		}
		#ba{
			left: 170px;
		}
		#ko{
			margin-right: 0px;
			right: 0px;
		}
	}
	h2{
		font-family: "Amatic SC";
		color: #416c53;
		font-size: 38px;
		text-align: center;
		margin: 0px;
		margin-top: 160px;
		font-weight: normal;
	}
	#whatsnew{
		font-family: "Gochi Hand";
		width: 300px;
		margin: 0 auto;
		background-color: #7fd3c7;
		border: 5px solid #0a825d;
		margin-bottom: 60px;
		h3{
			color: #fff;
			background-color: #0a825d;
			padding: 3px 10px; 
			margin: 0px;
			font-size: 18px;
			text-align: center;
		}
		dl{
			width: 280px;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;
			dt{
				background-color: #0a825d;
				padding: 8px 10px; 
				font-size: 16px;
				color: #fff;
				width: 40px;
				position: relative;
				float: left;
				&:after{
					content: "";
					width: 0;
			  		height: 0;
			  		background: transparent;
			  		border-top: 6px solid transparent;
			  		border-left: 12px solid #0a825d;
			  		border-bottom: 6px solid transparent;
			  		border-right: 6px solid transparent;
			  		position: absolute;
			  		left:57px;
			  		top:16px;
				}
			}
			dd{
				color: #1e5b37;
				margin-left: 80px;
				height: 18px;
				font-family: 'Noto Sans Japanese', serif;	
			}
			a:link { color: #1e5b37; }
			a:visited { color: #1e5b37; }
			.day{
				font-size: 12px;
				letter-spacing: 0.3em;
			}
			.blogtitle{
				font-size: 14px;
				letter-spacing: 0.2em;
			}
		}
	}
	ul#menu_wrap{
		font-family: "Gochi Hand";
		margin: 80px 0px;
		text-align: center;
		li{
			color: #0a825d;
			display: inline-block;
			font-size: 43px;
			text-align: center;
			vertical-align: center;
			line-height: 140px;
			cursor: pointer;
			a{
				background-image: url("../img/frame.png");
				height: 142px;
				width: 200px;
				display: block;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}




#content{
	margin: 0 auto;
	h1{
		background-color: #0a825d;
		margin: 0;
		text-align: center;
		img{
			width: 150px;
			padding: 20px; 
		}
	}

	h2{
		font-family: "Gochi Hand";
		height: 70px;
		font-size: 45px;
		margin-top: 70px;
		margin-bottom: 20px;
		color: #0a825d;
		text-align: center;
		background-image: url("../img/bgi_square.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		line-height: 85px;
	}
	ul#menu_wrap{
		text-align: center;
		margin-top: 0px;
		margin-bottom: 50px;
		li{
		font-family: "Gochi Hand";
		font-size: 35px;
		display: inline-block;
		}
		#contact{
			margin-left: 40px;
		}
	}
	#profile{
		left: -9999px;
		max-width: 580px;
		min-width: 560px;
		// width: 600px;
		margin: 0 auto;
		position: relative;
		margin-bottom: 80px;
		img{
			margin: 0;
		}
		&:after{
			content: url("../img/arrow.png");
			position: absolute;
			top: 100px;
			left: 212px;
		}
		ul{
			text-align: center;
			width: 255px;
			font-size: 12px;
			// height: 212px;
			margin: 0;
			right: 0px;
			top: 0px;
			color: #0a825d;
			padding-top: 50px;
			padding-bottom: 70px;
			background-image: url("../img/circle.png");
			background-repeat: no-repeat;
			position: absolute;

			#name{
				letter-spacing: 0.3em;
				font-size: 20px;
			}

		}
	}
	p{
		&.comment{
		color: #1e5b37;
		letter-spacing: 0.2em;
		text-align: center;
		font-size: 15px;
		margin-bottom: 3px;
		margin-top: 0px;
		padding: 0px 20px;
		}
		&.mgb50{
		margin-bottom: 50px;
		}
		small{
			font-size: 10px;
			letter-spacing: 0.1em;
		}
	}
	#diary_list{
		margin-left: -9999px;
		.note{
		width: 840px;
		padding-top: 40px;
		margin: 0 auto;
		background-image: url("../img/diary_bgi.png");
		background-repeat: no-repeat;
		background-position: center 0;
		height: 510px;
		color: #0a825d;
		letter-spacing: 0.3em;
			h3{
				margin-left: 40px;
				font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			}
			dl{
				width: 790px;
				dd{
					letter-spacing: 0.1em;
				}
				.mgb{margin-bottom: 1em;}
			}
			img{
				margin-left: 40px;
				margin-right: 40px;
				float: left;
				border: solid 2px #0a825d;
			}
			dt.weather{
				margin-bottom: 30px;
			}

		}
	}
	#postlink{
		width: 100%;
		margin: 0 auto;
		color: #fff;
		letter-spacing: 0.1em;
		margin-bottom: 100px;
		position: relative;
		max-width: 1000px;
		a:link { color: #fff; }
		a:visited { color: #fff; }
		#next,#pre{
			display: inline;
			*display: inline;  
	    	*zoom: 1;
	    	position: absolute;
	    	i{
	    		margin-right: 5px;
	    	}
		}
		#pre{
			right:20px;
			i{
				margin-left: 5px;
			}
		}
		#next{
			left: 20px;
		}
	}
	#contact_page{
		color: #0a825d;
		#sachichan{
			position: relative;
			&:before{
			content: "";
			width: 0;
	  		height: 0;
	  		margin-bottom: 10px;
	  		background: transparent;
	  		border-top: 20px solid transparent;
	  		border-left: 20px solid transparent;
	  		border-bottom: 20px solid #0a825d;
	  		border-right: 20px solid transparent;
	  		position: absolute;  
	  		top:136px;
	  		left: 49%;
			}
		}
		p{
			text-align: center;
			img{
				width: 60px;
			}
		}
		.textSplitLoad {
    		display: none;
    		font-family: "Gochi Hand";
			font-size: 35px;
		}
		p#split {
    		visibility: hidden;
    		font-family: "Gochi Hand";
			font-size: 35px;
		}
		a:link{ color: #fff; }
		a:visited { color: #fff; }
		#contact_form{
			border-radius: 20px;
			-webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
    		-moz-border-radius: 20px;   /* Firefox用 */  
			max-width: 800px;
			margin: 0 auto;
			background-color: #7fd3c7;
			border: 5px solid #0a825d;
			padding: 5% 5% 0% 5%;
			margin-top: 50px;
			input,textarea{
				width: 90%;
				height: 30px;
				background-color: #fff;
				margin-bottom: 30px;
				border: 2px solid #0a825d;
			}
			textarea{
				height: 150px;
				overflow: auto;
			}
			#contact_submit{
				text-align: center;
				input{width: 90px;}
			}
		}
		#contact_mail_link{
			color:#fff; 
			font-size: 13px;
		}
	}
}

address{
		font-family: "Gochi Hand";
		color: #fff;
		font-size: 28px;
		background-image: url("../img/ribbon.png");
		background-repeat: no-repeat;
		background-position: center;
		height: 60px;
		text-align: center;
		line-height: 73px;
		margin-bottom: 30px;
		clear: both;
}


@media screen and (max-width:640px){
	body{
			-webkit-text-size-adjust : 100%!important ;
		#content{
			min-width: 320px;
				#profile{
					left: 0px;
					text-align: center;
					margin-bottom: 30px;
					min-width: 320px;
					ul{
						position: relative;
						margin: 0 auto;
						margin-top: 20px;
					}
					&:after{
						display: none;
					}
				}
			#diary_list{
				margin-left: 0px;
				.note{
					background-image: url("../img/diary_bgi_sp.png");
					width: 320px;
					height: 920px;
					img{
						float: none;
					    width: 208px;
					    height: 243px;
					    margin-left: 0px;
					}
					dl{
						padding-left: 45px;
						width: 240px;
						dd{margin: 0px; }
					}
				}
			}
			#next{margin-top: -10px;}
		}
	}
}


